<!DOCTYPE html>
<html ng-app = 'app'>
<head>

    <!-- Bootstrap theme from bootswatch.com -->
    <link rel="stylesheet" href="/bootstrap.min.css">


    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/myStyleSheets.css">-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
    <script src= "/app.js"></script>

</head>
<body ng-controller='applicationCtrl' >

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#"><img src="/kaya.gif"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Posts</a></li>
                <li><a href="#/login">Login <span class="sr-only">(current)</span></a></li>
                <li><a href="#/register">Sign up</a></li>
           </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input ng-model="query" type="text" class="menuSearchBox form-control" placeholder="Search">
                </div>
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </form>
            <p ng-if='currentUser' class="navbar-text navbar-right">Logged in as:{{currentUser.username}}</p>

 
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br><br>
<div ng-view></div>



</body>
</html>