<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-app = 'app'>
<div ng-controller ='PostsCtrl' class='container'>
    <h1>Patient Input</h1>
    <div>
        <input ng-model='firstName'  class="input-xlarge" type="text" placeholder="First Name">
        <input ng-model='lastName'  class="input-xlarge" type="text" placeholder="Last Name">
        <input ng-model='email'  class="input-xlarge" type="email" placeholder="Email">
        <button ng-click='addPatient()'>Add Patient</button>
    </div><br>
    <div>
    <table class="table table-hover">
        <tr class="success">
           <td><strong>First Name</strong></td>  <td><strong>Last Name</strong></td>    <td><strong>Email</strong></td>
        </tr>

        <tr ng-repeat="patientRecord in Records" class="success">
            <td>{{ patientRecord.firstName }}</td>
            <td> {{ patientRecord.lastName }}</td>
            <td>{{ patientRecord.email }}</td>

        </tr>


    </table>
    </div>

</div>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>


    var app = angular.module('app', []);
    app.controller('PostsCtrl', function ($scope) {
        $scope.addPatient = function(){

                                        $scope.Records.push({firstName: $scope.firstName, lastName: $scope.lastName, email: $scope.email});
                                        $scope.firstName = null;
                                        $scope.lastName = null;
                                        $scope.email = null;
                                      };



        $scope.Records = [{firstName: 'Jones', lastName: 'Seed Patient', email: 'jones@yahoo.com'}]


    })
</script>
</body>
</html>>